@font-face {
    font-family: font_heading;
    src: url(Font/TheBomb-7B9gw.ttf);
}
@font-face {
    font-family: life_font;
    src: url(Font/ARCADECLASSIC.TTF);
}
@font-face {
    font-family: font_details;
    src: url(Font/zero\ hour.otf);
}
@keyframes blink-text {
    0% {
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
}


*{
    padding: 0;
    margin: 0;
}


.wrapper{
    
    width: 60vw;
    height: 98vh;
    border-radius: 4%;
    overflow: none;
    display: flex;
    flex-direction: column;
}
body{
    /* background-image: linear-gradient(to right, #8e2de2, #4a00e0); */
    background-image: url("Pictures/BG4.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    background-position:50% 50%;
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 95vh;
}
.game-name{
    color: rgba(65, 230, 255, 0.818);
    text-align: center;
    font-family: font_heading;
    animation: blink-text 1.7s linear infinite;
    font-size: 1.3em;
}
.game-details{
    font-family: font_details;
    font-weight: 50; 
    font-size: 1em;
    width: 100%;
    height: 5%;
    color: #6e7888;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.timer{
    color: #6e7888;
}

.playground{
    /* background-color: rgb(143, 255, 161); */
    background-color: transparent;
    width: 100%;
    height: 67%;
    display: grid;
    gap: 0;
    border-style: solid;
    border-color: rgb(67, 62, 62);
    border-width: 2vmin;
    overflow: none;    
}

.food{
    text-align:center;
    font-size: 0.8em;
    color: rgb(0, 217, 255) ;
}

.head{
    background:blue;
}

.snake_body{
    background: green;
}

.buttons{
    background-color: orange;
    height: 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.butt{
    background-color: green;
}




.keys {
    font-family: 'Lato', sans-serif;    
    text-align: center;
    width: 20vw;
    height: 25vh;
    margin-right: 7vw;
    margin-top: 37vh;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  }
  
  .arr {
    cursor: pointer;
    width: 24%;
    height: 40%;
    text-align: center;
    line-height: 90px;
    background: grey;
    font-size: 50px;
    border-radius: 4%;
    border-right: 10px solid darken(grey, 20);
    border-bottom: 10px solid darken(grey, 20);
    border-left: 10px solid darken(grey, 15);
    border-top: 10px solid darken(grey, 10);  
    display: inline-block;
    margin: 5px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    transition: all .05s linear;
    &:active {
      border-bottom: 8px solid darken(grey, 20);
      text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;    
      transform: translate(0, 2px);
    }
    user-select: none;
  }
  
  .up {
    position: relative;
    top: -4px;
    margin-top: 4%;
  }
  
  
  .color_seq{
    height: 10%;
    width: 100%;
    overflow: none;
    background-color: black;
    border-width: 2vmin;
    border-style:groove;
    border-color: rgb(88, 77, 77);
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .color_blocks{
   
  }

  .lives{
    height: 14%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: life_font;
  }
  
  
.buff_shrink{
    color: transparent;
    background-image: url(Pictures/Potion.png);
    background-size: cover;
    overflow: none;
    background-position: center;  
}



  
  
  
  